html {
    overflow: hidden;
    background: #222831;
}
body{
    background: #212529 !important;
    background-color: #212529 !important;
}
video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#background, #banner{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*width: 100%;*/
    background: #222831;
    height: 100%;
}

#video, #banner {
    z-index: 9999;
}
.hidden{
    display: none;
}

